{% extends 'base.html' %}
{% block title %}
 Confirm Password Confirm - {{block.super}}
{% endblock title %}

{% block content %}
    {% if validlink %}
    <h1>Confirm Password Confirm </h1>
    <p>Please enter your new password twice so we can verify you typed it correctly.</p>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    {% else %}
    <h1>Password reset unsuccessful.</h1>
    <p>The password reset link was invalid, possibly because it was used already - please request new password reset.</p>
    {% endif %}
{% endblock content %}